<%= render 'shared/breadcramb' %>
<div class="container mt-5 p-lg-5 bg-light">
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
          <label class="control-label ">タイトル</label>
          <input class="form-control" type="text">
        </div>
          <div class="form-group mt-5">
            <label for="exampleFormControlTextarea1">画像(複数投稿可能)</label>
            <div class="text-center">
              <img class="img-fruid rounde "src="https://i.picsum.photos/id/717/240/350.jpg" class="card-img" alt="...">
              <img class="img-fruid rounde "src="https://i.picsum.photos/id/557/240/350.jpg" class="card-img" alt="...">    
              <img class="img-fruid rounde "src="https://i.picsum.photos/id/517/240/350.jpg" class="card-img" alt="...">
              <img class="img-fruid rounde "src="https://i.picsum.photos/id/727/240/350.jpg" class="card-img" alt="...">
            </div>
            <div class="text-right">
            <button class="btn btn-primary mt-4" type="submit">アップロード</button>
            </div>
          </div>
        <div class="form-group">
          <label class="control-label">タグ</label>
              <div class="tag-container cf">
                <div class="tag-label"
                  :class="{ 'dragover': tag.over }"
                  v-for="(tag, index) in tags" :key="index"
                  draggable="true"
                  @dragstart="dragstart(tag, $event)"
                  @dragend="dragend"
                  @dragenter.prevent="dragenter(tag)"
                  @dragleave="dragleave(tag)"
                  @dragover.prevent="dragover(tag)"
                  @drop="drop(tag, $event)">
                  <span class="tag-label-text">{{tag.text}}</span>
                  <a href="#" class="tag-remove" @click.stop.prevent="remove(index)">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                      xmlns:xlink="http://www.w3.org/1999/xlink" 
                      viewBox="0 0 50 50" version="1.1" width="15px" height="15px">
                      <g id="surface1">
                        <path style=" " d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z "/>
                      </g>
                    </svg>
                  </a>
                </div>
                <div class="editor">
                  <input class="input" 
                    ref="input" 
                    type="text"
                    placeholder="ここに入力"
                    @keyup.enter="enter($event.target)"
                    @keypress="canEnter = true"/>
                </div>
              </div>
            </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">質問文</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
      </form>
    </div>
  </div>
      <div class="text-center mt-3">
   <button type="submit" class="btn btn-primary mb-3 px-5">質問する</button>
   </div>

</div>
