<%= render 'shared/breadcramb' %>
<%= render 'shared/questiontitle' %>
<div class="container">
  <div class= "row ">
    <div class="box 1 col-md-6 ">
      <div class="border-bottom">
        <div class="box 1 col-md-10 mb-4">
          <span class="badge badge-info">Doublet</span>
          <span class="badge badge-info">Belt</span>
          <span class="badge badge-info">Green</span>
        </div>
      <h3>お悩み内容</h3>
      </div>
      <div class ="textbox my-4">
      先日instagramですごく好みの洋服を見つけたのですが、
      doubletというブランドなのですが、読み方がわかりません。
      お店に行くときに恥ずかしい思いをしたくないので、どなたかと見方を教えていただきたいです。
      </div>
  </div>
    <div class="box 1 col-md-6 mb-5 ">
      <div class="text-center mb-4">
      <img class="img-fruid rounde "src="https://i.picsum.photos/id/717/240/350.jpg" class="card-img" alt="...">
      </div>
    <div class="text-center">
      <img class="img-fruid rounde "src="https://i.picsum.photos/id/717/100/70.jpg" class="card-img" alt="...">
      <img class="img-fruid rounde "src="https://i.picsum.photos/id/717/100/70.jpg" class="card-img" alt="...">
      <img class="img-fruid rounde "src="https://i.picsum.photos/id/717/100/70.jpg" class="card-img" alt="...">
      <img class="img-fruid rounde "src="https://i.picsum.photos/id/717/100/70.jpg" class="card-img" alt="...">
    </div>
    </div>
  </div>
    <div class= "row ">
          <div class="border-bottom">  </div>
    <div class="box 1 col-md-1 ">
  <img class="img-fruid rounded "src="https://i.picsum.photos/id/717/60/60.jpg" class="card-img" alt="...">
</div>
<div class="box 1 col-md-8 ">
           <div class="form-group">
            <label for="exampleFormControlTextarea1">回答する</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
             </div>
          </div>
</div>