<%= render 'shared/headline' %>
<div class="container">
  <div class= "row ">
  <%# タブをスマホにした時はスライド式にする %>
    <div class="box 1 col-md-6 ">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="follow-tab" data-toggle="tab" href="#follow" role="tab" aria-controls="follow" aria-selected="true">Follow</a>
          <a class="nav-item nav-link" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="false">New</a>
          <a class="nav-item nav-link" id="nav-soaring-tab" data-toggle="tab" href="#nav-soaring" role="tab" aria-controls="nav-soaring" aria-selected="false">Soaring</a>
          <a class="nav-item nav-link" id="nav-unanswed-tab" data-toggle="tab" href="#nav-unanswed" role="tab" aria-controls="nav-unanswed" aria-selected="false">unanswed</a>
          <a class="nav-item nav-link" id="nav-unsolved-tab" data-toggle="tab" href="#nav-unsolved" role="tab" aria-controls="nav-unsolved" aria-selected="false">unsolved</a>
          <a class="nav-item nav-link" id="nav-resoved-tab" data-toggle="tab" href="#nav-resoved" role="tab" aria-controls="nav-resoved" aria-selected="false">resoved</a>
        </div>
      </nav>
      <div class="tab-content " id="nav-tabContent">
        <div class="tab-pane fade show active mt-4 " id="follow" role="tabpanel" aria-labelledby="follow-tab">
          <div class="container mb-4 pb-3 border-bottom">
            <div class= "row ">   
              <div class="box 1 col-md-2 ">
              <span class="badge badge-secondary p-2">受付中</span>
              </div>
              <div class="box 1 col-md-10 text-primary">
               黄緑のアイテムを生かすためには他にどんな色を合わせれば良いでしょうか?
              </div>
              <div class="box 1 col-md-2 ">
                <p class="text-center">0</p>              </div>
              <div class="box 1 col-md-10 ">
               <span class="badge badge-info">Doublet</span>
               <span class="badge badge-info">Belt</span>
               <span class="badge badge-info">Green</span>
              </div>
              <div class="box 1 col-md-2 ">
              </div>
                <div class="box 1 col-md-8 ">
                  <img class="img-fruid rounded"src="https://i.picsum.photos/id/717/20/20.jpg" class="card-img" alt="...">
                _summer_situation717
              </div>
               <div class="box 1 col-md-2 small ">
                2分前
              </div>
            </div>
          </div>
         <div class="container mb-4 pb-3 border-bottom">
            <div class= "row ">   
              <div class="box 1 col-md-2 ">
              <span class="badge badge-secondary p-2">受付中</span>
              </div>
              <div class="box 1 col-md-10 text-primary">
               黄緑のアイテムを生かすためには他にどんな色を合わせれば良いでしょうか?
              </div>
              <div class="box 1 col-md-2 ">
                <p class="text-center">0</p>              </div>
              <div class="box 1 col-md-10 ">
               <span class="badge badge-info">Doublet</span>
               <span class="badge badge-info">Belt</span>
               <span class="badge badge-info">Green</span>
              </div>
              <div class="box 1 col-md-2 ">
              </div>
                <div class="box 1 col-md-8 ">
                  <img class="img-fruid rounded"src="https://i.picsum.photos/id/717/20/20.jpg" class="card-img" alt="...">
                _summer_situation717
              </div>
               <div class="box 1 col-md-2 small ">
                2分前
              </div>
            </div>
          </div>
           <div class="container mb-4 pb-3 border-bottom">
            <div class= "row ">   
              <div class="box 1 col-md-2 ">
              <span class="badge badge-secondary p-2">受付中</span>
              </div>
              <div class="box 1 col-md-10 text-primary">
               黄緑のアイテムを生かすためには他にどんな色を合わせれば良いでしょうか?
              </div>
              <div class="box 1 col-md-2 ">
                <p class="text-center">0</p>              </div>
              <div class="box 1 col-md-10 ">
               <span class="badge badge-info">Doublet</span>
               <span class="badge badge-info">Belt</span>
               <span class="badge badge-info">Green</span>
              </div>
              <div class="box 1 col-md-2 ">
              </div>
                <div class="box 1 col-md-8 ">
                  <img class="img-fruid rounded"src="https://i.picsum.photos/id/717/20/20.jpg" class="card-img" alt="...">
                _summer_situation717
              </div>
               <div class="box 1 col-md-2 small ">
                2分前
              </div>
            </div>
          </div>
          <div class="col-md-8 offset-4">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">...</div>
        <div class="tab-pane fade" id="nav-soaring" role="tabpanel" aria-labelledby="nav-soaring-tab">...</div>
        <div class="tab-pane fade" id="nav-unanswed" role="tabpanel" aria-labelledby="nav-unanswed-tab">...</div>
        <div class="tab-pane fade" id="nav-unsolved" role="tabpanel" aria-labelledby="nav-unsolved-tab">...</div>
        <div class="tab-pane fade" id="nav-resolved" role="tabpanel" aria-labelledby="nav-resolved-tab">...</div>
      </div>
    </div>
    <div class="box 1 col-md-6 mb-5 ">
    <h3>タグランキング</h3>
      <nav class="navbar navbar-light bg-light ">
        <a class="navbar-brand" href="#">第1位 <span class="badge badge-warning">Ruby</span></a>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">第2位 <span class="badge badge-warning">Docker</span></a>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">第3位 <span class="badge badge-warning">AWS</span></a>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">第4位 <span class="badge badge-warning">GCP</span></a>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">第5位 <span class="badge badge-warning">React</span></a>
      </nav>
    </div> 
  </div> 
</div>
