<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <div class="container">
    <div class= "d-flex">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <i class="fa fa-angle-right mt-1 mx-1"></i>
    <li class="breadcrumb-item active mb-2" aria-current="page"></i>新しい質問</li>
        </div>

    <h2>新しい質問</h1>
    </div>
  </ol>
</nav>