<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <div class="container">
    
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active mb-2" aria-current="page"></i>新しい質問</li>
    
    <h2>新しい質問</h1>
    </div>
  </ol>
</nav>