<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <div class="container">
      <h2>Doubletてなんて読むんでしょうか?</h2>
    <div class="text-right">
      <img class="img-fruid rounded "src="https://i.picsum.photos/id/717/20/20.jpg" class="card-img" alt="...">
        _summer_situation717
        質問 2019/02/13 06:12
    </div>
    </div>
  </ol>
</nav>