/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // ログイン画面
 
 .container-login {
   @extend .container-fluid;
   max-width: 576px;
   padding: 2rem;
 }
 
 // 「ログインしました」などのフラッシュ用スタイル
 
 .alert-notice {
   @extend .alert-info;
 }
 
 .alert-alert {
   @extend .alert-danger;
 }

.nb-copyright{
  background: #171717;
  padding-bottom: 10px;
}
 .nb-copyright .copyrt{
  margin-top: 22px;
  font-size: 14px;
}
.nb-copyright .copyrt a{
  color: #7BFF00;
}
.nb-copyright .footer-social{
	margin-top: 10px;
}
.nb-copyright .footer-social i{
  padding: 5px 10px;
  color: #999;
  border: 1px solid #333;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
  background: #7BFF00;
  color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
  padding: 5px 14px;
}
@media(max-width: 767px){
	 .xs-center{
	text-align: center;
}
 .left-clear{
	padding-left: 0;
}
 .right-clear{
	padding-right: 0;
}
}
 
 @import "bootstrap";
 @import "base";
 @import "tops";
 @import "newquestion";
 @import "font-awesome-sprockets";
 @import "font-awesome";


